<!DOCTYPE html>
<html>
  <head>
    <!-- This stylesheet contains specific styles for displaying
         the map on this page. Replace it with your own styles as
         described in the documentation:
         https://developers.google.com/maps/documentation/javascript/tutorial
    -->
    <!-- <link rel="stylesheet" href="../public/styles/layout.css"> -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script>
      apiKey = "<%=apiKey%>";
    </script>
  </head>
  <body class='container'>
    <div id="map" style='height: 500px'></div>
    <div id="submit-pin" style='height: 500px background: red'> CLICK MEEEEEEEEEEEE </div>
    <div id="pin-details" > Sup dude </div>
  </body>
</html>
