<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header.ejs %>
  <link rel="stylesheet" href="/styles/viewUsers.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script>
      userid = "<%=userid%>";
  </script>

</head>
<body>
  <!-- NAVBAR -->
    <% include partials/_navbar.ejs %>
  <!-- RIGHT COLUMN -->
  <div class="row">
    <div class="col-2 col-md-4" id="user-panel">
    <h1 id="user-name">Jane Doe</h1><img id="user-pic" src="/images/user.png">
    <h3 id="user-bio">About me</h3>
  </div>
    <div class="col-4 col-md-4">
      <h2 id="user-activities">Activities</h2>
      <ul class="nav nav-pills nav-justified">
        <li class="active">
          <a data-toggle="pill" href="#created-maps">Created Maps</a>
        </li>
        <li>
          <a data-toggle="pill" href="#favourite-maps">Favourites</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade in active" id="created-maps">
          </div>
        <div class="tab-pane fade" id="favourite-maps">
          <section id="map-tiles">
            <div class="well well-lg">
              <div class="img-cont">
               <img src="/images/mapicon.png" class="img-rounded">
              </div>
              <div class="desc-cont">
                <h3>Super Fun Map</h3>
                <p>My goodness I had fun with this one</p>
              </div>
            </div>
          </section>
          <section id="map-tiles">
            <div class="well well-lg">
              <div class="img-cont">
               <img src="/images/mapicon.png" class="img-rounded">
              </div>
              <div class="desc-cont">
                <h3>All My Friends :)</h3>
                <p>There are so many, I swear.</p>
              </div>
            </div>
          </section>
          <section id="map-tiles">
            <div class="well well-lg">
              <div class="img-cont">
               <img src="/images/mapicon.png" class="img-rounded">
              </div>
              <div class="desc-cont">
                <h3>Worst Bars to go to on the 3rd Tuesday of February between 3-4pm </h3>
                <p>SERIOUSLY NEVER GO THERE</p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/scripts/appendUserFeed.js"></script>
   <script>
        function myFunction(x) {
        x.classList.toggle("fa-thumbs-down");
      }
      </script>
</body>
</html>
