<!DOCTYPE html>
<html lang='en'>
  <head>
    <%- include ../views/partials/_bootstrap.ejs %>
    <% include partials/_header.ejs %>
    <link type="text/css" rel="stylesheet" href="/styles/viewmap.css"/>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/viewmap.js"></script>
    <!-- Navbar CSS -->
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
      apiKey = "<%=apiKey%>";
      mapid = "<%=mapid%>";
    </script>
  </head>

  <body>
    <%- include ../views/partials/_navbar.ejs %>

    <div class='map-container'>
      <div id="map" style='height: 25em'></div>
    </div>

    <div id="cardbox" class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <!-- <div class="card-body">
        <h4 class="card-title">Dark card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="card-footer bg-transparent border-success">@userid</div> -->
    </div>

    <div class='list-container'>
      <ul class="list-group">
      </ul>
    <div>

      <!-- MAP TILES -->

      <div class="row">
        <div class="col-12 col-md-4"></div>
        <div class="col-8 col-md-4" id="feed">
        </div>
    </div>

      <script>
        function myFunction(x) {
        x.classList.toggle("fa-thumbs-down");
      }
      </script>


  </body>

</html>
