<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Hello World!</h1>
  </body>
</html>
 -->

<!DOCTYPE html>
<html>
  <head>
    <!-- This stylesheet contains specific styles for displaying
         the map on this page. Replace it with your own styles as
         described in the documentation:
         https://developers.google.com/maps/documentation/javascript/tutorial
    -->
    <!-- <link rel="stylesheet" href="../public/styles/layout.css"> -->
    <script type="text/javascript" src="../public/scripts/app.js"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/createMap.js"></script>
    <link rel="stylesheet" href="/styles/createMap.css">

    <script>
      apiKey = "<%=apiKey%>";
    </script>

  </head>
  <body class='layout'>
    <div class='container'>
      <input id="pac-input" class="controls" type="text" placeholder="Search Box">
      <div id="map" style='height: 500px'></div>
      <div id="infowindow-content">
        <span id="place-name"  class="title"></span><br>
         <span id="place-id"></span><br>
        <span id="place-address"></span>
      </div>
      <div class='pins'>
        <button id="toggle-pin-input" type="button" > Toggle</button>
        <div id="pin-inputs">
          <div id="custom-pins" class="show">
          <form>
            Title: <br>
            <input id="title-input" type="text" name="title"><br>
            Info: <br>
            <input id="info-input" type="text" name="info"><br>
            Description: <br>
            <textarea id="description-input" type="text" name="description"> </textarea> <br>
            Pic URL: <br>
            <input id="pic-input" type="text" name="description"><br>
          </form>
          </div>
          <div id="auto-pins" class="hide">
             <div id="auto-place-name">Title:  </div>
            <div id="custom-place-info">
              Info: <input id="custom-info-input" type="text" name="info"><br>
            </div>
            <div id="place-description">
              Description: <textarea id="custom-description-input" type="text" name="description"></textarea><br>
            </div>
              Address: <div id="auto-place-address"> </div>

          </div>
          <button id="submit-pin" type="reset" > Confirm Pin </button>
          <button type="button" id="submit-map" value="submit"> Submit Maps </button>
        </div>
      </div>
    </div>
    <div class='pin-container'>
    <div>
  </body>
</html>
