.pin-container {
  display: flex;
  flex-direction: column;
}

.pin-info-container {
  display: flex;
  flex-direction: row;
  background: white;
  border: solid;

}

.title {

}

.container{
  display: flex;
}

#map {
  flex: 50%;
  height: 600px;
  width: auto;
}

.pins {
  display: flex;
  flex: 30%;
  flex-direction: column;
  border: solid;
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#navbar {
  height: 75px;
  background: yellow;
}

.layout {
  margin:0px;

}

.faded {
  opacity: 0.5;

}

.notfaded{
  opacity: 1;
}

.pin-number{
  width: 36px;
  height: 36px;
  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  font: 32px Arial, sans-serif;
}

#submit-map-container{

}

  #submit-map {
    width: 100%

  }

#pac-input {
    width: 60%;
    text-align: center;
    height: 5%;
    align-items: center;
}

.sidebar-title {

  text-align: center;
}

#pin-warning {
  color: red;
}

#auto-place-address {

  text-overflow: ellipsis
}

#delete-pin {

  color: red;
  border-width: 1px;
}

#edit-pin {

  color: red;
  border-width: 1px;
}




