.pin-container {
  display: flex;
  flex-direction: column;
}

.pin-info-container {
  display: flex;
  flex-direction: row;
}

.title {
  background: blue;
}

.container{
  display: flex;
}

#map {
  flex: 50%;
}

.pins {
  display: flex;
  flex: 50%;
  flex-direction: column;
}

.hide {
  display: none;
}

.show {
  display: block;
}
